html,
body {
	margin: 0;
	padding: 0;
	width: 100vw;
	height: 100vh;
	background-color: antiquewhite;
	display: flex;
}

div {
	box-sizing: border-box;
	overflow: scroll;
}

.page {
	width: 50%;
	height: 100%;
	border: 1px solid black;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px 20px 20px 20px;
}

.table-of-contents {
	width: 100%;
	height: 100%;
	padding: 20px 20px 20px 20px;
	border: 1.5px solid black;
	/* border: 1px black; */
	background-color: whitesmoke;
}

details li {
	font-size: large;
	font-family: "Lora", serif;
}

summary {
	list-style: none;
	font-family: "Gloock", serif;
	font-weight: 400;
	font-size: x-large
}

.table-of-contents > details > summary {
	font-size: xx-large
}

/* 1. Hide the default arrow */


li {
	list-style: none;
}

/* summary::-webkit-details-marker { display: none; } */

/* 2. Add custom icon */
/* summary::before { */
  /* content: url('custom-arrow.svg'); */
  /* display: inline-block;
  margin-right: 10px;
  transition: transform 0.2s;
} */

/* 3. Rotate it when open */
/* details[open] summary::before {
  transform: rotate(90deg);
} */
